.introduce-all-place {
    display: flex;
}
.introduce-all-place .card-image-info{
    /* height: 150px; */
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.introduce-all-place .card-image-info .image {
    width: 100%;
}

.introduce-all-place .card-image-info .image img {
    width: 100%;
    border-radius: 10px;
}