.wrap-header{
    height: 920px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.wrap-menu{
    position: absolute;
    right: 0px
}